.hero {
    background:
        linear-gradient(rgba(45, 52, 54, 0.8), rgba(45, 52, 54, 0.8)),
        url('/assets/images/hero-bg.jpg') center/cover fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

.hero-content {
    max-width: 800px;
    text-align: center;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}

.hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
    font-weight: 300;
}

.hero-cta {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.btn {
    text-decoration: none;
}

.hero-btn {
    background-color: var(--primary-color);
    color: whitesmoke;
}

.hero-btn:hover {
    color: var(--white-color);
    box-shadow: 0 0 20px 2px var(--primary-color-light);
}

.hero-btn-outline {
    background: transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    transition: 0.3s ease-in;
}

.hero-btn-outline:hover {
    border: 2px solid transparent;
    background: var(--white-color);
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 2rem;
    }
}
