.header {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
    background: var(--white-color);
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
    text-decoration: none;
}

.logo span {
    color: var(--primary-color);
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.nav-link {
    color: var(--dark-color);
    font-weight: 500;
    transition: var(--transition);
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--transition);
}

.nav-link:hover::after {
    width: 100%;
}

.cta-button {
    background: var(--primary-color);
    color: var(--white-color) !important;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    transition: var(--transition);
}

.cta-button:hover {
    background: #FF5252;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255,107,107,0.3);
}
